doctype html
html
  head
    title 404 Page
    link(rel='stylesheet', href='/stylesheets/template/style.css')
    link(rel='stylesheet', href='/stylesheets/template/style-responsive.css')
  body.error-page
    section
      div.container
         section.error-wrapper.text-center
          h1
            img(src='/stylesheets/images/404-error.png')
          h2 page not found
          h3 We Couldn't Find This Page
          a.back-btn(href='/') Back To Home
  script(src='javascripts/template/jquery-1.10.2.min.js')
  script(src='javascripts/template/jquery-migrate-1.2.1.min.js')
  script(src='javascripts/template/bootstrap.min.js')
  script(src='javascripts/template/modernizr.min.js')
