doctype html
html
  head
    title Login
    link(href='/stylesheets/template/style.css' rel='stylesheet')
    link(href='/stylesheets/template/style-responsive.css' rel='stylesheet')
  body.login-body
    div.container
      form#login_form.form-signin
        div.form-signin-heading.text-center
          h1.sign-title Sign In
          p.text-center Welcome to My-Achievement!
        div.login-wrap
          input#id.form-control(type='text' placeholder="User ID" autofocus='autofocus')
          input#password.form-control(type='password' placeholder='Password')
          button.btn.btn-lg.btn-login.btn-block#login(type='button')
            i.fa.fa-check
          span.pull-right
            a(data-toggle='modal' href='#findPassword') Forgot Password?
      form#findPassword_form
        div#findPassword.modal.fade(aria-hidden='true' aria-labelledby='findPasswordLabel' role='dialog' tabindex='-1')
          div.modal-dialog
            div.modal-content
              div.modal-header
                button.close(type='button' data-dismiss='modal' aria-hidden='true') ✖️
                h4.modal-title Forgot Password?
              div.modal-body
                p Enter your e-mail address below to reset your password.
                input.form-control.placeholder-no-fix(type="text" name="email" placeholder="Email" autocomplete="off")
              div.modal-footer
                button.btn.btn-default(type='button' data-dismiss='modal') Cancel
                button.btn.btn-default(type='button') Submit
    script(src='/javascripts/template/jquery-1.10.2.min.js')
    script(src='/javascripts/template/bootstrap.min.js')
    script(src='/javascripts/template/modernizr.min.js')
    script(src='/javascripts/login.js')
