//
   Created by yanzexin on 16/11/14.

doctype html
html
head
body
    script(src='javascripts/Angular.js')
    script(src='javascripts/func.js')
    block content
        h1 Content
    block footer
        h1 Footer