//
   Created by yanzexin on 16/11/8.
extends home
append style
    link(href='/javascripts/template/bootstrap-wysihtml5/bootstrap-wysihtml5.css' rel='stylesheet')
append Wrapper
    div.wrapper
        div.mail-box
            section.mail-box-info
                header.header
                    div.compose-btn.pull-right
                        button.btn.btn-primary.btn-sm#send
                            i.fa.fa-check
                            label Send
                        button.btn.btn-sm.btn-default
                            i.fa.fa-times
                            label Discard
                    div.btn-toolbar
                        h4.pull-left Compose Mail
                section.mail-list
                    div.compose-mail
                        form(role='form-horizontal' method='POST')
                            div.form-group
                                label(for='to') To:
                                input#to(type='text' tabindex='1').form-control
                            div.form-group
                                label(for='subject') Subject:
                                input#subject(type='text' tabindex='1').form-control
                            label#error
                            div.compose-editor
                                textarea.wysihtml5.form-control(rows="9")#content

append Nav
    script(src='/javascripts/template/jquery-1.10.2.min.js')
    script(src='/javascripts/template/jquery-ui-1.9.2.custom.min.js')
    script(src='/javascripts/template/jquery-migrate-1.2.1.min.js')
    script(src='/javascripts/template/bootstrap.min.js')
    script(src='/javascripts/template/modernizr.min.js')
    script(src='/javascripts/template/jquery.nicescroll.js')


    script(src='/javascripts/template/bootstrap-wysihtml5/wysihtml5-0.3.0.js')
    script(src='/javascripts/template/bootstrap-wysihtml5/bootstrap-wysihtml5.js')
    script(src='/javascripts/template/scripts.js')

    script(src='/javascripts/navInfo.js')
    script(src='/javascripts/mail_compose.js')