//
   Created by yanzexin on 16/11/12.
extends home
append Wrapper
    div.wrapper
        .page-heading
            h3
                | Mail
            ul.breadcrumb
                li
                    a(href='#') My Achievement
                li.active  Mail
        div.mail-box
            section.mail-box-info(ng-controller='mailCtrl')
                header.header
                    div.btn-toolbar
                        div.btn-group
                            button.btn.btn-sm.btn-primary
                                i.fa.fa-refresh
                section.mail-list
                    ul.list-group(ng-repeat='each in mails')
                        li.list-group-item
                            a(href="/user/mail_detail?id={{each['id']}}")
                                small.pull-right.text-muted {{each['date']}}
                                strong From {{each['sender']}}
                                hr
                                span {{each['subject']}}

append Nav
    script(src='javascripts/mail_view.js')