//
   Created by yanzexin on 16/11/12.

extends home
doctype html
append Wrapper
    div.wrapper
        div.mail-box
            section.mail-box-info
                header.header
                    div.btn-toolbar
                        h4.pull-left=subject
                section.mail-list
                    div.mail-sender
                        div.row
                            div.col-md-8
                                strong Author: #{author}
                            div.col-md-4
                                p.date Date: #{date}
                    div.view-mail
                        p.
                            #{content}
                    div.compose-btn.pull-left
                        a(href='/mail_compose').btn.btn-sm.btn-primary
                            i.fa.fa-reply
                            label Reply
                        button#trash.btn.btn-sm.btn-default.tooltips(title='' data-placement='top' data-toggle='tooltip' data-original-title='Trash')
                            i.fa.fa-trash-o
append Nav
    script(src='/javascripts/template/jquery-1.10.2.min.js')
    script(src='/javascripts/template/jquery-ui-1.9.2.custom.min.js')
    script(src='/javascripts/template/jquery-migrate-1.2.1.min.js')
    script(src='/javascripts/template/bootstrap.min.js')
    script(src='/javascripts/template/modernizr.min.js')
    script(src='/javascripts/template/jquery.nicescroll.js')


    script(src='/javascripts/template/scripts.js')

    script(src='/javascripts/navInfo.js')
    script(src='/javascripts/mail_detail_js.js')
