//
   Created by yanzexin on 16/11/12.
extends home
append Wrapper
    div.wrapper
        div.mail-box
            section.mail-box-info
                header.header
                    div.btn-toolbar
                        div.btn-group
                            button.btn.btn-sm.btn-primary
                                i.fa.fa-refresh
                section.mail-list
                    ul.list-group#mail_list

append Nav
    script(src='/javascripts/template/jquery-1.10.2.min.js')
    script(src='/javascripts/template/jquery-ui-1.9.2.custom.min.js')
    script(src='/javascripts/template/jquery-migrate-1.2.1.min.js')
    script(src='/javascripts/template/bootstrap.min.js')
    script(src='/javascripts/template/modernizr.min.js')
    script(src='/javascripts/template/jquery.nicescroll.js')


    script(src='/javascripts/template/scripts.js')

    script(src='/javascripts/navInfo.js')
    script(src='/javascripts/mail_view.js')