extends home
append style
    link(href="javascripts/template/iCheck/skins/minimal/minimal.css" rel='stylesheet')
    link(href="javascripts/template/iCheck/skins/square/square.css" rel='stylesheet')
    link(href="javascripts/template/iCheck/skins/square/red.css" rel='stylesheet')
    link(href="javascripts/template/iCheck/skins/square/blue.css" rel='stylesheet')

    link(href="stylesheets/template/clndr.css" rel='stylesheet')

    link(href='javascripts/template/morris-chart/morris.css' rel='stylesheet')
append Wrapper
    div.wrapper
        div.row
            div.col-md-14
                dic.panel
                    div.panel-body
                        div.row.revenue-states
                            div.col-md-6.col-sm-6.col-xs-12
                                h4 Scores
                        div.row
                            div.col-md-12
                                div#main-chart-1
                                    div#main-chart-score.main-chart
        .row
            -for (var index in HomeworkInfo)
                .col-md-3
                    .panel.panel-primary
                        .panel-heading
                            | #{HomeworkInfo[index]['state']}
                        .panel-body
                            -if (HomeworkInfo[index]['score'] == null)
                                h4(style='color: red') 作业未结束
                                -if (HomeworkInfo[index]['filePath'] != null)
                                    h4(style='color: green') 已提交
                                a.btn.btn-success.pull-right(data-toggle='modal', href='#Upload') Upload
                                #Upload.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
                                    .modal-dialog
                                        .modal-content
                                            .modal-header
                                                h4.modal-title Upload Homework
                                            .modal-body
                                                section.panel
                                                    .panel-body
                                                        form#file(action="/user/upload?state=#{HomeworkInfo[index]['state']}" enctype='multipart/form-data' method='POST')
                                                            input(type='file' name='files')
                                                            button.btn.btn-primary(type='submit') Submit
                            - else
                                h4 Score: #{HomeworkInfo[index]['score']}
                                a.btn.btn-default.pull-right(href="/user/download?id=#{HomeworkInfo[index]['id']}") Download


append Nav
    script(src='/javascripts/template/jquery-1.10.2.min.js')
    script(src='/javascripts/template/jquery-ui-1.9.2.custom.min.js')
    script(src='/javascripts/template/jquery-migrate-1.2.1.min.js')
    script(src='/javascripts/template/bootstrap.min.js')
    script(src='/javascripts/template/modernizr.min.js')
    script(src='/javascripts/template/jquery.nicescroll.js')


    script(src='/javascripts/template/flot-chart/jquery.flot.js')
    script(src='/javascripts/template/flot-chart/jquery.flot.tooltip.js')
    script(src='/javascripts/template/flot-chart/jquery.flot.resize.js')

    script(src='/javascripts/template/morris-chart/raphael-min.js')
    script(src='/javascripts/template/morris-chart/morris.js')

    script(src='/javascripts/template/scripts.js')

    script(src='/javascripts/navInfo.js')
    script(src='/javascripts/home.js')
