
a {
  color: #00B7FF;
}

.logo {
  width: 160px;
  height: 160px;
}
.center {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
#reason {
  color: red;
}

.panel-body {
  background-color: white;
  border-radius: 10px;
}